{% extends 'base.html' %}

{% block main %}
    <div class="row">
    <div class="col-sm">
      Olá {{usuario.funcionario.nome}}
        <a href="{% url 'list_funcionarios' %}">Funcionários</a>
        <a href="{% url 'list_departamentos' %}">Departamentos</a>
        <a href="{% url 'list_hora_extra' %}">Gerenciar Horas Extra</a>
    </div>
    <div class="col-sm">
      {% if usuario.funcionario.empresa %}
        <a href="{% url 'update_empresa' usuario.funcionario.empresa.id %}">Editar Empresa</a>
      {% else %}
        <a href="{% url 'create_empresa' %}">Criar Empresa</a>
      {% endif %}
    </div>
    <div class="col-sm">
        <a href="{% url 'logout' %}">logout</a>
    </div>
  </div>
{% endblock %}

